.banner {
  background-size: cover;
  background-position: center;
  height: 400px; 
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  color: white;
  text-shadow: 0 2px 10px rgba(0,0,0,0.6);

  h1 {
    margin: 0;
  }

  h2 {
    font-size: 24px;
    font-weight: lighter;
    color: rgba(255, 255, 255, 0.8);
  }
}
